In [1221]:
# This is a notebook to analyse dataset for internet customers.

In [1222]:
# Local all required packages
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import accuracy_score, roc_auc_score, precision_score, recall_score, f1_score, fbeta_score
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [1223]:
# Add function definitions
def radarplot(df, norm_max=False):
    df = df.copy()
    if norm_max:
        df /= df.max()

    angles = np.linspace(0, 2 * np.pi, len(df.columns), endpoint=False)
    angles = np.concatenate((angles, [angles[0]]))  # close the plot

    fig = plt.figure()
    ax = fig.add_subplot(111, polar=True)

    for i in df.index:
        stats = df.loc[i, :].values
        stats = np.concatenate((stats, [stats[0]]))  # close the plot
        ax.plot(angles, stats, 'o-', linewidth=2, label=i)
        ax.fill(angles, stats, alpha=0.25)

    ax.legend(loc='upper left', bbox_to_anchor=(1, 1))

    columns = list(df.columns) + list(df.columns[:1])
    # print((angles * 180 / np.pi).shape, len(columns))
    ax.set_thetagrids(angles * 180 / np.pi, columns)
    ax.grid(True)
    return ax

In [1224]:
# Load the dataset
data = pd.read_csv("BP_DS_Challenge.csv")
data[:5]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [1225]:
# Dataset cleaning
data['TotalCharges'] = data['TotalCharges'].replace(" ", 0)
data['SeniorCitizen']= data['SeniorCitizen'].astype(str)
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'])
data = data.drop(columns="customerID")

In [1226]:
pd.concat([data.dtypes.to_frame().rename(columns={0: "type"}), data.nunique().to_frame().rename(columns={0: "unique_num"})], axis=1)

                     type  unique_num
gender             object           2
SeniorCitizen      object           2
Partner            object           2
Dependents         object           2
tenure              int64          73
PhoneService       object           2
MultipleLines      object           3
InternetService    object           3
OnlineSecurity     object           3
OnlineBackup       object           3
DeviceProtection   object           3
TechSupport        object           3
StreamingTV        object           3
StreamingMovies    object           3
Contract           object           3
PaperlessBilling   object           2
PaymentMethod      object           4
MonthlyCharges    float64        1585
TotalCharges      float64        6531
Churn              object           2

In [1227]:
# Extract the independent variables and save as array in X
X = data.iloc[:,:-1].values
pd.DataFrame(X[:5])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.3,1840.75
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.7,151.65

In [1228]:
# Extract the dependent variable and save as array in Y
Y = data.iloc[:,-1].values
pd.DataFrame(Y[:5])

     0
0   No
1   No
2  Yes
3   No
4  Yes

In [1229]:
# Encode the two-value columns using LabelEncoding and the multi-value columns using one hot encoder
LE1 = LabelEncoder()
multi_value_categorical = []
for i in range(data.shape[1]-1):
    col_type = str(data.dtypes[i])
    col_name = str(data.columns[i])
    col_unique_values = str(data.nunique()[i])       
    print(str(i) + " " +col_type + " " + col_name + " " + col_unique_values)
    if col_type == 'object':
        if col_unique_values == '2':
            X[:,i] = np.array(LE1.fit_transform(X[:,i]))
        else:
            multi_value_categorical.append(i)
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(), multi_value_categorical)],remainder="passthrough")
X = np.array(ct.fit_transform(X))
Y[:] = np.array(LE1.fit_transform(Y[:]))

0 object gender 2
1 object SeniorCitizen 2
2 object Partner 2
3 object Dependents 2
4 int64 tenure 73
5 object PhoneService 2
6 object MultipleLines 3
7 object InternetService 3
8 object OnlineSecurity 3
9 object OnlineBackup 3
10 object DeviceProtection 3
11 object TechSupport 3
12 object StreamingTV 3
13 object StreamingMovies 3
14 object Contract 3
15 object PaperlessBilling 2
16 object PaymentMethod 4
17 float64 MonthlyCharges 1585
18 float64 TotalCharges 6531

In [1230]:
pd.DataFrame(X[:5])

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0,0,1,0,1,0,1,29.85,29.85
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,1.0,1,0,0,0,34,1,0,56.95,1889.5
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1,0,0,0,2,1,1,53.85,108.15
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,1,0,0,0,45,0,0,42.3,1840.75
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0,0,0,0,2,1,1,70.7,151.65

In [1231]:
# Apply feature selection. This step significantly improves the results:
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
X = sel.fit_transform(X)

In [1232]:
pd.DataFrame(X[:5])

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0,1,0,1,1,29.85,29.85
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1,0,0,34,0,56.95,1889.5
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1,0,0,2,1,53.85,108.15
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1,0,0,45,0,42.3,1840.75
4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0,0,0,2,1,70.7,151.65

In [1233]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)
X_train = np.asarray(X_train).astype(np.float32)
Y_train = np.asarray(Y_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)
Y_test = np.asarray(Y_test).astype(np.float32)

In [1234]:
# Normalise the data
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [1235]:
pd.DataFrame(X_train[:5])

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,1.035048,-0.852737,1.387528,-0.888655,-0.526281,-0.991516,-0.526281,1.574778,-0.880685,-0.526281,...,-0.518574,-0.712196,1.822238,-1.0,1.032476,-0.653215,1.612532,-1.214659,0.674154,1.704761
1,-0.966139,-0.852737,1.387528,-0.888655,-0.526281,1.008556,-0.526281,-0.635010,1.135479,-0.526281,...,-0.518574,1.404108,-0.548776,-1.0,-0.968546,-0.653215,-0.747907,0.823277,-0.614894,-0.709771
2,-0.966139,1.172694,-0.720706,-0.888655,1.900125,-0.991516,1.900125,-0.635010,-0.880685,1.900125,...,-0.518574,-0.712196,-0.548776,-1.0,1.032476,1.530889,1.571835,-1.214659,-1.335097,-0.208672
3,1.035048,-0.852737,1.387528,-0.888655,-0.526281,1.008556,-0.526281,-0.635010,1.135479,-0.526281,...,-0.518574,-0.712196,1.822238,1.0,1.032476,1.530889,0.025340,0.823277,0.301578,0.053141
4,-0.966139,1.172694,-0.720706,1.125296,-0.526281,-0.991516,-0.526281,1.574778,-0.880685,-0.526281,...,-0.518574,1.404108,-0.548776,-1.0,1.032476,-0.653215,0.595101,0.823277,1.128231,0.990579

In [1236]:
ann = tf.keras.models.Sequential()

In [1237]:
ann.add(tf.keras.layers.Dense(units=50,activation="relu"))
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [1238]:
optimizer = tf.keras.optimizers.SGD()

In [1239]:
ann.compile(optimizer, loss="mse", metrics=["mae", "acc"])

In [ ]:
history = ann.fit(X_train,Y_train,batch_size=32,epochs = 200)

Epoch 1/200
177/177 [==============================] - 1s 2ms/step - loss: 0.1940 - mae: 0.3937 - acc: 0.7029
Epoch 2/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1597 - mae: 0.3322 - acc: 0.7675
Epoch 3/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1515 - mae: 0.3117 - acc: 0.7833
Epoch 4/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1477 - mae: 0.3019 - acc: 0.7888
Epoch 5/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1453 - mae: 0.2961 - acc: 0.7916
Epoch 6/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1437 - mae: 0.2914 - acc: 0.7957
Epoch 7/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1426 - mae: 0.2885 - acc: 0.7984
Epoch 8/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1417 - mae: 0.2864 - acc: 0.8014
Epoch 9/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1410 - mae: 0.2844 - acc: 0.8014
Epoch 10/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1404 - mae: 0.2832 - acc: 0.8019
Epoch 11/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1398 - mae: 0.2821 - acc: 0.8026
Epoch 12/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1393 - mae: 0.2813 - acc: 0.8028
Epoch 13/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1389 - mae: 0.2808 - acc: 0.8035
Epoch 14/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1385 - mae: 0.2802 - acc: 0.8037
Epoch 15/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1382 - mae: 0.2797 - acc: 0.8046
Epoch 16/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1378 - mae: 0.2792 - acc: 0.8046
Epoch 17/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1376 - mae: 0.2790 - acc: 0.8044
Epoch 18/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1373 - mae: 0.2784 - acc: 0.8055
Epoch 19/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1370 - mae: 0.2777 - acc: 0.8053
Epoch 20/200
177/177 [==============================] - 0s 3ms/step - loss: 0.1368 - mae: 0.2772 - acc: 0.8081
Epoch 21/200
177/177 [==============================] - 1s 4ms/step - loss: 0.1366 - mae: 0.2774 - acc: 0.8069
Epoch 22/200
177/177 [==============================] - 0s 3ms/step - loss: 0.1364 - mae: 0.2770 - acc: 0.8067
Epoch 23/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1361 - mae: 0.2766 - acc: 0.8071
Epoch 24/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1360 - mae: 0.2761 - acc: 0.8072
Epoch 25/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1358 - mae: 0.2756 - acc: 0.8067
Epoch 26/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1356 - mae: 0.2751 - acc: 0.8081
Epoch 27/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1355 - mae: 0.2746 - acc: 0.8072
Epoch 28/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1353 - mae: 0.2746 - acc: 0.8078
Epoch 29/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1352 - mae: 0.2744 - acc: 0.8088
Epoch 30/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1350 - mae: 0.2748 - acc: 0.8087
Epoch 31/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1349 - mae: 0.2743 - acc: 0.8090
Epoch 32/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1347 - mae: 0.2744 - acc: 0.8099
Epoch 33/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1346 - mae: 0.2737 - acc: 0.8101
Epoch 34/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1345 - mae: 0.2738 - acc: 0.8099
Epoch 35/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1344 - mae: 0.2739 - acc: 0.8110
Epoch 36/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1342 - mae: 0.2728 - acc: 0.8103
Epoch 37/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1341 - mae: 0.2730 - acc: 0.8095
Epoch 38/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1340 - mae: 0.2726 - acc: 0.8106
Epoch 39/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1339 - mae: 0.2723 - acc: 0.8088
Epoch 40/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1338 - mae: 0.2722 - acc: 0.8097
Epoch 41/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1337 - mae: 0.2720 - acc: 0.8092
Epoch 42/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1336 - mae: 0.2717 - acc: 0.8106
Epoch 43/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1335 - mae: 0.2718 - acc: 0.8103
Epoch 44/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1334 - mae: 0.2717 - acc: 0.8108
Epoch 45/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1333 - mae: 0.2714 - acc: 0.8106
Epoch 46/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1332 - mae: 0.2710 - acc: 0.8097
Epoch 47/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1331 - mae: 0.2710 - acc: 0.8104
Epoch 48/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1330 - mae: 0.2710 - acc: 0.8081
Epoch 49/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1329 - mae: 0.2704 - acc: 0.8108
Epoch 50/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1329 - mae: 0.2701 - acc: 0.8111
Epoch 51/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1328 - mae: 0.2702 - acc: 0.8108
Epoch 52/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1327 - mae: 0.2704 - acc: 0.8101
Epoch 53/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1326 - mae: 0.2707 - acc: 0.8110
Epoch 54/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1325 - mae: 0.2699 - acc: 0.8097
Epoch 55/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1325 - mae: 0.2696 - acc: 0.8113
Epoch 56/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1323 - mae: 0.2692 - acc: 0.8111
Epoch 57/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1323 - mae: 0.2694 - acc: 0.8122
Epoch 58/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1322 - mae: 0.2691 - acc: 0.8117
Epoch 59/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1322 - mae: 0.2694 - acc: 0.8108
Epoch 60/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1321 - mae: 0.2685 - acc: 0.8104
Epoch 61/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1320 - mae: 0.2685 - acc: 0.8104
Epoch 62/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1320 - mae: 0.2685 - acc: 0.8108
Epoch 63/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1319 - mae: 0.2685 - acc: 0.8104
Epoch 64/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1318 - mae: 0.2685 - acc: 0.8111
Epoch 65/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1318 - mae: 0.2684 - acc: 0.8115
Epoch 66/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1317 - mae: 0.2683 - acc: 0.8110
Epoch 67/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1317 - mae: 0.2690 - acc: 0.8113
Epoch 68/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1316 - mae: 0.2686 - acc: 0.8110
Epoch 69/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1315 - mae: 0.2677 - acc: 0.8108
Epoch 70/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1315 - mae: 0.2678 - acc: 0.8103
Epoch 71/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1314 - mae: 0.2677 - acc: 0.8110
Epoch 72/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1313 - mae: 0.2672 - acc: 0.8106
Epoch 73/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1313 - mae: 0.2674 - acc: 0.8124
Epoch 74/200

177/177 [==============================] - 0s 2ms/step - loss: 0.1312 - mae: 0.2670 - acc: 0.8122
Epoch 75/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1312 - mae: 0.2670 - acc: 0.8115
Epoch 76/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1311 - mae: 0.2673 - acc: 0.8117
Epoch 77/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1311 - mae: 0.2668 - acc: 0.8119
Epoch 78/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1310 - mae: 0.2669 - acc: 0.8124
Epoch 79/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1309 - mae: 0.2667 - acc: 0.8110
Epoch 80/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1309 - mae: 0.2661 - acc: 0.8138
Epoch 81/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1309 - mae: 0.2661 - acc: 0.8115
Epoch 82/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1308 - mae: 0.2664 - acc: 0.8111
Epoch 83/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1307 - mae: 0.2661 - acc: 0.8120
Epoch 84/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1307 - mae: 0.2656 - acc: 0.8113
Epoch 85/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1307 - mae: 0.2661 - acc: 0.8111
Epoch 86/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1306 - mae: 0.2654 - acc: 0.8122
Epoch 87/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1306 - mae: 0.2658 - acc: 0.8122
Epoch 88/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1305 - mae: 0.2656 - acc: 0.8135
Epoch 89/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1304 - mae: 0.2655 - acc: 0.8129
Epoch 90/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1304 - mae: 0.2654 - acc: 0.8131
Epoch 91/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1304 - mae: 0.2651 - acc: 0.8122
Epoch 92/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1303 - mae: 0.2652 - acc: 0.8122
Epoch 93/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1303 - mae: 0.2652 - acc: 0.8126
Epoch 94/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1302 - mae: 0.2649 - acc: 0.8127
Epoch 95/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1302 - mae: 0.2645 - acc: 0.8119
Epoch 96/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1301 - mae: 0.2647 - acc: 0.8122
Epoch 97/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1301 - mae: 0.2648 - acc: 0.8140
Epoch 98/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1301 - mae: 0.2647 - acc: 0.8138
Epoch 99/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1300 - mae: 0.2652 - acc: 0.8136
Epoch 100/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1300 - mae: 0.2648 - acc: 0.8149
Epoch 101/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1299 - mae: 0.2642 - acc: 0.8142
Epoch 102/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1299 - mae: 0.2639 - acc: 0.8135
Epoch 103/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1299 - mae: 0.2644 - acc: 0.8131
Epoch 104/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1298 - mae: 0.2638 - acc: 0.8131
Epoch 105/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1298 - mae: 0.2636 - acc: 0.8127
Epoch 106/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1297 - mae: 0.2636 - acc: 0.8126
Epoch 107/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1297 - mae: 0.2637 - acc: 0.8140
Epoch 108/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1297 - mae: 0.2636 - acc: 0.8154
Epoch 109/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1296 - mae: 0.2635 - acc: 0.8136
Epoch 110/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1296 - mae: 0.2638 - acc: 0.8142
Epoch 111/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1296 - mae: 0.2634 - acc: 0.8140
Epoch 112/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1295 - mae: 0.2630 - acc: 0.8145
Epoch 113/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1295 - mae: 0.2630 - acc: 0.8142
Epoch 114/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1294 - mae: 0.2632 - acc: 0.8143
Epoch 115/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1294 - mae: 0.2630 - acc: 0.8140
Epoch 116/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1294 - mae: 0.2627 - acc: 0.8142
Epoch 117/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1293 - mae: 0.2627 - acc: 0.8136
Epoch 118/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1293 - mae: 0.2628 - acc: 0.8138
Epoch 119/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1293 - mae: 0.2624 - acc: 0.8142
Epoch 120/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1292 - mae: 0.2621 - acc: 0.8136
Epoch 121/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1292 - mae: 0.2622 - acc: 0.8152
Epoch 122/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1292 - mae: 0.2628 - acc: 0.8142
Epoch 123/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1291 - mae: 0.2618 - acc: 0.8154
Epoch 124/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1291 - mae: 0.2626 - acc: 0.8140
Epoch 125/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1290 - mae: 0.2624 - acc: 0.8154
Epoch 126/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1290 - mae: 0.2622 - acc: 0.8145
Epoch 127/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1290 - mae: 0.2620 - acc: 0.8145
Epoch 128/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1290 - mae: 0.2619 - acc: 0.8151
Epoch 129/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1289 - mae: 0.2626 - acc: 0.8135
Epoch 130/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1289 - mae: 0.2619 - acc: 0.8138
Epoch 131/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1288 - mae: 0.2617 - acc: 0.8159
Epoch 132/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1288 - mae: 0.2617 - acc: 0.8145
Epoch 133/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1288 - mae: 0.2615 - acc: 0.8154
Epoch 134/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1287 - mae: 0.2610 - acc: 0.8158
Epoch 135/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1287 - mae: 0.2613 - acc: 0.8151
Epoch 136/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1287 - mae: 0.2612 - acc: 0.8154
Epoch 137/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1286 - mae: 0.2613 - acc: 0.8156
Epoch 138/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1286 - mae: 0.2623 - acc: 0.8158
Epoch 139/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1286 - mae: 0.2615 - acc: 0.8161
Epoch 140/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1286 - mae: 0.2614 - acc: 0.8154
Epoch 141/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1285 - mae: 0.2609 - acc: 0.8163
Epoch 142/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1285 - mae: 0.2610 - acc: 0.8165
Epoch 143/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1284 - mae: 0.2606 - acc: 0.8165
Epoch 144/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1284 - mae: 0.2612 - acc: 0.8163
Epoch 145/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1284 - mae: 0.2615 - acc: 0.8159
Epoch 146/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1284 - mae: 0.2605 - acc: 0.8163
Epoch 147/200

177/177 [==============================] - 0s 2ms/step - loss: 0.1283 - mae: 0.2610 - acc: 0.8161
Epoch 148/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1283 - mae: 0.2605 - acc: 0.8174
Epoch 149/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1283 - mae: 0.2602 - acc: 0.8172
Epoch 150/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1283 - mae: 0.2610 - acc: 0.8165
Epoch 151/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1282 - mae: 0.2603 - acc: 0.8168
Epoch 152/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1282 - mae: 0.2601 - acc: 0.8154
Epoch 153/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1281 - mae: 0.2602 - acc: 0.8170
Epoch 154/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1281 - mae: 0.2599 - acc: 0.8154
Epoch 155/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1281 - mae: 0.2598 - acc: 0.8170
Epoch 156/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1280 - mae: 0.2602 - acc: 0.8158
Epoch 157/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1280 - mae: 0.2595 - acc: 0.8168
Epoch 158/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1280 - mae: 0.2598 - acc: 0.8159
Epoch 159/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1279 - mae: 0.2596 - acc: 0.8168
Epoch 160/200
177/177 [==============================] - 0s 2ms/step - loss: 0.1279 - mae: 0.2596 - acc: 0.8159
Epoch 161/200
154/177 [=========================>....] - ETA: 0s - loss: 0.1285 - mae: 0.2601 - acc: 0.8164

In [ ]:
lreg = LogisticRegression(random_state = 0)
lreg.fit(X_train, Y_train)

In [ ]:
ypred = {}
ypred["ANN"] = ann.predict(X_test)
ypred["Regression"] = [x[1] for x in lreg.predict_proba(X_test)]

In [ ]:
results = {}
for method, predictions in ypred.items():
    print(method)
    fpr, tpr, _ = metrics.roc_curve(Y_test, predictions)
    auc = metrics.roc_auc_score(Y_test, predictions)
    plt.plot(fpr,tpr,label=method + ", auc="+str(auc))
    results[method] = [str(auc)]
plt.legend(loc=4)
plt.show()

In [ ]:
for method, predictions in ypred.items():
    preds = []
    for x in predictions:
        if x <= 0.5:
            preds.append(0.0)
        else:
            preds.append(1.0)
    acc = accuracy_score(Y_test, preds )
    prec = precision_score(Y_test, preds )
    rec = recall_score(Y_test, preds )
    f1 = f1_score(Y_test, preds )
    f2 = fbeta_score(Y_test, preds, beta=2.0)
    results[method] = np.concatenate((results[method], [acc, prec, rec, f1, f2]))

In [ ]:
results_df = pd.DataFrame(results, index=["auc", "acc", "prec", "rec", "f1", "f2"]).transpose()

In [ ]:
results_df = results_df.apply(pd.to_numeric)

In [ ]:
results_df

In [ ]:
# Visualise the offline evaluation results
radarplot(results_df, norm_max=True)